body {
    font-family: sans-serif;
    background: #641E16;
    margin: 0;
    padding: 0;
}

nav {
    /*outline: 1px solid blue;*/
}

ul {
    /*outline: 1px solid black;*/
    list-style: none;
    margin: 0;
    padding: 0;
    background: black;
    line-height: 70px;
    text-align: left;
}

li {
    /*outline: 1px solid red;*/
    width: 170px;
    display: inline-block;
    text-align: center;
}

a {
    /*outline: 1px solid red;*/
    text-decoration: none;
    color: #fff;
    display: block;
}

a:hover {
    background: #f9a91a;
    color: #000;
}

header {
    background: darkblue;
    height: 100px;
    border-bottom: 2px solid #000;
    border-image: 2px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 100px;
    image-resolution: 1920;
}

p {
    text-align: justify;
}

#footer {
    background: #000;
    height: 60px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

#contenedor {
    width: 900px;
    height: 1315px;
    background-color: rgb(16, 56, 88);
    border-radius: 5px;
    margin: 0 auto; /* Centra el contenedor en la página */
}

.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #fcfcfc;
}

.img {
    width: 150px;
    padding: 25px;
    border-radius: 5px;
    justify-items: center;
}

#contenedorP {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 20px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ajusta el espacio entre los elementos */
}

.producto {
    width: calc(110.33% - 20px); /* Ajusta el ancho según el espacio disponible y el margen entre productos */
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    text-align: center;
    box-sizing: border-box;
    border-style: outset;
   
}


.producto-imagen {
    width: 10px; /* La imagen ocupará el 100% del ancho del contenedor del producto */
    height: auto;
    margin-bottom: 10px;
    flex-direction: column;
}

.producto-codigo,
.producto-nombre,
.producto-precio,
.producto-status {
    margin: 5px 0;
}
