
body {
    background: url(/img/logoLogin.jpg) no-repeat center center/cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: transparent; /* Fondo semitransparente para la tarjeta */
    backdrop-filter: blur(20px); /* Aplica un efecto de desenfoque a la tarjeta */
    padding: 20px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    background-color: transparent;
    color: white;
}

.card-body label {
      color: white;
}